[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = masque-proxy

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = masque-proxy
IP.1 = 172.20.0.2
